* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif; */ /* for h1 */

body {
    font-family: 'Montserrat', sans-serif;
}

/* .d-none {
    display: none;
} */


/* index page styles */
.desc-img {
    position: absolute;
    top: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.index-page-body {
    background-image: url('images/avengers.jpg'), url('images/avengers.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center, center 10px;
}



.index-page-header {
    height: 80px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    z-index: 1
}


/* icons in header*/
.icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


/* common div with img and text */
.coins {
    display: flex;
    align-items: center;
}

.coin-img {
    margin-right: 10px;
}

.page-coins-number {
    font-size: larger;
    color: #402408;
    font-weight: bold;
    margin-right: 5px;
}


/* avatar logo */
/* change display on log in */

.avatar {
    width: 35px;
    display: none; 
}

.avatar-wrapper {
    background-image: url('images/user.svg');
    background-image: url('images/ruslam_real.jpg');
    background-image: url('images/thanos_avatar.jpg');
    background-image: url('images/thor_avatar.jpg');
    background-image: url('images/ironMan_avatar.jpg');
    background-image: url('images/drStrange_avatar.jpg');
    background-image: url('images/hulk_avatar.jpg');
    background-position: center center;
    background-size: cover;
    border: 1px solid black;
}

/* h1 */
.main-title {
    font-family: 'Playfair Display', serif;
}

.secondary-title {
    font-family: 'Playfair Display', serif;
}


.title-3 {
    margin: 5px 0;
    font-family: 'Playfair Display', serif;
    color: #141d1c;
    filter: drop-shadow(0 0 3px rgba(0,0,0,0.5));
}


button {
    width: 140px;
    height: 48px;
    border: 3px solid #292c30;
    border-radius: 48px;
    background: repeating-linear-gradient(
        45deg,
        rgba(145, 153, 153, 0.2),
        rgba(145, 153, 153, 0.4) 10px,
        transparent 10px,
        transparent 20px
        ),
        linear-gradient(to top, #66706f, #c0cecd 50%);
    box-shadow: 0 0 5px rgba(0,0,0,0.6), 0 0 16px rgba(0,0,0,0.75) inset;
}

button:hover {
    background: repeating-linear-gradient(
        45deg,
        rgba(145, 153, 153, 0.2),
        rgba(145, 153, 153, 0.4) 10px,
        transparent 10px,
        transparent 20px
        ),
        linear-gradient(to top, #0d3733, #2efdff);
    
}

button:hover h3, button:active h3 {
    color: #dbdbdb;
}

button:active {
    background: repeating-linear-gradient(
        45deg,
        rgba(145, 153, 153, 0.2),
        rgba(145, 153, 153, 0.4) 10px,
        transparent 10px,
        transparent 20px
        ),
        linear-gradient(to top, #0d3733, #3cd3c3);
    color: white;
}

button:focus {
    outline: none;
}

.select-wrapper {
    position: absolute;
    top: 100px;
    left: 20px;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 150px;
    padding: 5px;
    text-align: center;
}




.characters-info {
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(5, min-content);
    grid-template-areas: 
    '. . thanos thanos  . . . . strange strange'
    'captain captain captain . . thor thor thor strange strange'
    '. ironMan ironMan ironMan ironMan . . starLord starLord starLord'
    'romanoff romanoff romanoff romanoff . . . gamora gamora gamora'
    'hulk hulk hulk . . spiderman spiderman . . .';
    position: relative;
    z-index: 1;
}

.characters-info__item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    text-align: center;
}

.characters-info_text {
    margin: 5px 0;
}



.thanos-info {
    grid-area: thanos;
}

.ironMan-info {
    grid-area: ironMan;
}

.strange-info {
    grid-area: strange;
}

.captainAmerica-info {
    grid-area: captain;
}

.thor-info {
    grid-area: thor;
}

.starLord-info {
    grid-area: starLord;
}

.romanoff-info {
    grid-area: romanoff;
}

.hulk-info {
    grid-area: hulk;
}

.groot-info {
    grid-area: groot;
}

.gamora-info {
    grid-area: gamora;
}

.mantis-info {
    grid-area: mantis;
}

.racoon-info {
    grid-area: racoon;
}

.spiderman-info {
    grid-area: spiderman;
}

.active {
    display: block;
}


@media (max-width: 375px) {
    .desc-img {
        display: none;
    }

    .index-page-body {
        background-color: rgb(19 42 95);
        background-image: url('images/avengers_mobile.jpg');
        background-position-y: 20px;
    }


    .page-coins-text {
        display: none;
    }

    .main-title {
        font-size: 1.3em;
    }

    .secondary-title {
        font-size: 1em;
    }

    .characters-info_text {
        font-size: 0.8em;
    }

    .characters-info {
        grid-template-areas: 
        'thanos thanos thanos thanos  strange strange strange strange strange strange'
        'thor thor thor thor thor captain captain captain captain captain'
        'gamora gamora gamora gamora starLord starLord starLord starLord starLord starLord'
        '. . . . . . spiderman spiderman spiderman spiderman'
        '. . . . . . spiderman spiderman spiderman spiderman';
    }

/* это будет меняться по щелчку, некоторые элементы встают на место предыдущих */
    .captainAmerica-info {
        display: none;
    }

    .ironMan-info {
        grid-area: captain;
    }

    .thor-info {
        display: none;
    }

    .romanoff-info {
        grid-area: thor;
    }
    
    .starLord-info {
        display: none;
    }


    .gamora-info {
        grid-area: starLord;
        display: none;
    }

    .hulk-info {
        grid-area: starLord;
    }
}

