* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif; */ /* for h1 */

body {
    font-family: 'Montserrat', sans-serif;
}




/* index page styles */

.index-page-body {
    background-image: url('../images/avengers.jpg'), url('../images/avengers.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center, center 10px;
}



.index-page-header {
    height: 80px;
    /* background-color: rgba(255, 255, 255, 0.8); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    z-index: 1;
    color: white;
}


/* icons in header*/
.icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


/* common div with img and text */
.coins {
    display: flex;
    align-items: center;
}

.coin-img {
    margin-right: 10px;
}

.page-coins-number {
    font-size: larger;
    /* color: #402408; */
    color: white;
    filter: drop-shadow(0 0 3px rgba(0,0,0,0.5));
    font-weight: bold;
    margin-right: 5px;
}


/* avatar logo */
/* change display on log in */

.avatar {
    width: 35px;
    display: none; 
}

.avatar-wrapper {
    background-image: url('../images/user.svg');
    background-image: url('../images/ruslan_real.jpg');
    background-image: url('../images/sofa_real.jpg');
    background-image: url('../images/masha_real.jpg');
    background-image: url('../images/thanos_avatar.jpg');
    background-image: url('../images/thor_avatar.jpg');
    background-image: url('../images/ironMan_avatar.jpg');
    background-image: url('../images/drStrange_avatar.jpg');
    background-image: url('../images/hulk_avatar.jpg');
    background-image: url('../images/captain_america_avatar.jpg');
    background-image: url('../images/star_lord_avatar.jpg');
    background-image: url('../images/black_widow_avatar.jpg');
    background-image: url('../images/gamora_avatar.jpg');
    background-image: url('../images/spiderman_avatar.jpg');
    
    background-position: center center;
    background-size: cover;
    border: 1px solid black;
}

/* h1 */
.main-title {
    font-family: 'Playfair Display', serif;
    display: flex;
    justify-content: space-between;
    flex-basis: 600px;
    color: white;
}

.secondary-title {
    font-family: 'Playfair Display', serif;
}


.title-3 {
    margin: 5px 0;
    font-family: 'Playfair Display', serif;
    color: #141d1c;
}


button {
    width: 140px;
    height: 48px;
    border: 3px solid #292c30;
    border-radius: 48px;
    /* background: repeating-linear-gradient(
        45deg,
        rgba(145, 153, 153, 0.2),
        rgba(145, 153, 153, 0.4) 10px,
        transparent 10px,
        transparent 20px
        ),
        linear-gradient(to top, #66706f, #c0cecd 50%); */
    background: repeating-linear-gradient(
            45deg,
            rgba(145, 153, 153, 0.2),
            rgba(145, 153, 153, 0.4) 10px,
            transparent 10px,
            transparent 20px
            ),
            linear-gradient(to top, #020014, #5ea0d6 50%);
    box-shadow: 0 0 5px rgba(0,0,0,0.6), 0 0 16px rgba(0,0,0,0.75) inset;
}

button:hover {
    /* background: repeating-linear-gradient(
        45deg,
        rgba(145, 153, 153, 0.2),
        rgba(145, 153, 153, 0.4) 10px,
        transparent 10px,
        transparent 20px
        ),
        linear-gradient(to top, #0d3733, #2efdff); */
        background: repeating-linear-gradient(
        45deg,
        rgba(145, 153, 153, 0.2),
        rgba(145, 153, 153, 0.4) 10px,
        transparent 10px,
        transparent 20px
        ),
        linear-gradient(to top, #2e2d41, #b8e1ee);
    
}


button:active {
    /* background: repeating-linear-gradient(
        45deg,
        rgba(145, 153, 153, 0.2),
        rgba(145, 153, 153, 0.4) 10px,
        transparent 10px,
        transparent 20px
        ),
        linear-gradient(to top, #0d3733, #3cd3c3); */
        background: repeating-linear-gradient(
        45deg,
        rgba(145, 153, 153, 0.2),
        rgba(145, 153, 153, 0.4) 10px,
        transparent 10px,
        transparent 20px
        ),
        linear-gradient(to top, #e46609, #d6d100);
}

button:focus {
    outline: none;
}

.popup-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgba(3, 3, 3, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 3;
}

.auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 3px solid #292c30;
    border-radius: 28px;
    box-shadow: 0 0 5px rgba(0,0,0,0.6), 0 0 16px rgba(0,0,0,0.75) inset;
}

.input-form {
    border-radius: 28px;
    height: 30px;
    padding: 5px;
    margin: 5px;
}

.input-form:focus {
    outline: none;
    border-width: 3px;
}

.error-message {
    color: red;
    margin: 10px auto;
}

.label {
    font-size: 12px;
    padding: 0 20px;
}


.select-wrapper {
    position: absolute;
    top: 100px;
    /* left: 20px; */
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 150px;
    padding: 7px;
    text-align: center;
    border: 3px solid #292c30;
    border-radius: 28px;
    box-shadow: 0 0 5px rgba(0,0,0,0.6), 0 0 16px rgba(0,0,0,0.75) inset;
}

.select-wrapper.left {
    left: 20px;
}

.select-wrapper.right {
    left: auto;
    right: 20px;
}


.characters-info {
    display: grid;
    grid-template-columns: repeat(10,1fr);
    /* grid-template-rows: repeat(5, min-content);
    grid-template-areas: 
    '. . thanos thanos  . . . . strange strange'
    'captain captain captain . . thor thor thor strange strange'
    '. ironMan ironMan ironMan ironMan . . starLord starLord starLord'
    'romanoff romanoff romanoff romanoff . . . gamora gamora gamora'
    'hulk hulk hulk . . spiderman spiderman . . .'; */
    grid-template-rows: repeat(5, min-content);
    grid-template-areas: 
    '. . thanos thanos  . . . . strange strange'
    'captain captain captain . . . thor thor strange strange'
    'romanoff romanoff romanoff romanoff . . . starLord starLord starLord';
    position: relative;
    z-index: 1;
    align-items: center;
    justify-content: center;
}

.characters-info__item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    text-align: center;
    border: 3px solid #292c30;
    border-radius: 28px;
    box-shadow: 0 0 5px rgba(0,0,0,0.6), 0 0 16px rgba(0,0,0,0.75) inset;
    justify-items: center;
}

.characters-info_text {
    margin: 5px 0;
}

.thanos-info {
    grid-area: thanos;
}

.ironMan-info {
    grid-area: thanos;
}

.strange-info {
    grid-area: strange;
}

.captainAmerica-info {
    grid-area: captain;
}

.thor-info {
    grid-area: thor;
}

.starLord-info {
    grid-area: starLord;
}

.romanoff-info {
    grid-area: romanoff;
}

.hulk-info {
    grid-area: captain;
}

.groot-info {
    grid-area: groot;
}

.gamora-info {
    grid-area: starLord;
}


.spiderman-info {
    grid-area: romanoff;
}

.active {
    display: block;
}

.valid {
    border: 1px solid green;
}

.invalid {
    border: 1px solid red;
}

.d-none {
    display: none;
}

.o-none {
    opacity: 0;
}

/* personal page styles */
.personal-page-body {
    background-image: url('../images/space.jpg');
    color: white;
}

.centered {
    justify-content: center;
}

.real-photo {
    background-image: url('../images/ruslan_real.jpg');
}

.shadowed-pic {
    box-shadow: 0px 0px 30px 22px rgba(255, 255, 255, 0.2);
}

.timer {
    margin-top:3rem;
    margin-bottom:6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer-action{
    font-weight:300;
    font-size:2.2rem;
}

.timer-numbers{
    font-size:5rem;
}

.game-info-wrapper {
    display: grid;
    grid-template-areas: 
    'lessons hws tasks'
    'points points points';
    justify-content: center;
}

.game-info-wrapper div {
    padding: 10px;
}

.lessons-wrapper {
    grid-area: lessons;
}

.hws-wrapper {
    grid-area: hws;
}

.additional-tasks-wrapper {
    grid-area: tasks;
}

ol {
    list-style-position: inside;
}

li {
    padding: 5px;
}

ol a {
    color: #b0d0ec;
}
.points-wrapper {
    grid-area: points;
    display: flex;
    flex-direction: column;
}

.title-3.light {
    color: white;
}

table {
    border-collapse: collapse;
}

thead {
    background-color: #ffffff29;
}

th, td {
    border: 1px solid white;
    padding: 5px;
}

.total {
    background-color: #00ffff54;
}

.number {
    background-color: #f5f5dc66;
}

.bold {
    font-weight: bold;
}

/* lesson 1 */
.lesson1-body {
    padding: 10px;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
    height: 100%;
}

.lesson1-header {
    display: flex;
    justify-content: space-around;
}


.lesson1 {
    display: grid;
    grid-template-areas: 
        'speech speech speech'
        'img audio test'
        'img prep test'
        'decision decision decision'
        'video video video';
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.hero-speech {
    grid-area: speech;
    position: relative;
    max-width: max-content;
    margin-bottom: 50px;
    margin-top: 10px;
    background-color: #eaa561;
    padding: 10px;
    border-radius: 10px;
}

/* создание треугольника - tooltip */
.hero-speech::before {
	border: 30px solid transparent;
	border-top-color:#eaa561;
	position:absolute;
	top: 100%;
    left: 40px;
	content:'';
}

.hero-speech::after {
	border:28px solid transparent;
	border-top-color:#eaa561;
	position:absolute;
	top:100%;
    left: 42px;
	content:'';
}


.hero-big {
    grid-area: img;
    max-width: 100%;
}

.audio-file {
    grid-area: audio;
    color: white;
}

.prep-ex {
    grid-area: prep;
}

.audio-test {
    grid-area: test;
}

.first-decision {
    grid-area: decision;
}

.video-result {
    grid-area: video;
}

@media (max-width: 375px) {
    .index-page-body {
        background-image: url('../images/avengers_mobile.jpg');
        padding: 0 10px;
    }

    .index-page-header {
        padding: 0 10px;
    }

    .coin-img, .avatar-wrapper, .shadowed-pic {
        box-shadow: 0px 0px 30px 22px rgba(255, 255, 255, 0.2);
    }


    .page-coins-text {
        display: none;
    }

    .main-title {
        align-self: flex-start;
        flex-basis: 200px;
        font-size: 1.3em;
    }

    .secondary-title {
        font-size: 1em;
    }


    button {
        width: 120px;
        height: 40px;
    }

    button:hover, button:active {
        background: repeating-linear-gradient(
            45deg,
            rgba(145, 153, 153, 0.2),
            rgba(145, 153, 153, 0.4) 10px,
            transparent 10px,
            transparent 20px
            ),
            linear-gradient(to top, #e46609, #d6d100);
    }


    .popup-wrapper {
        padding: 0 50px;
    }

    .select-wrapper {
        max-width: 130px;
    }

    .characters-info_text {
        font-size: 0.8em;
    }

    .characters-info {
        grid-template-rows: repeat(2, min-content);
        grid-template-areas: 
        'thanos thanos thanos thanos  strange strange strange strange strange strange'
        'thor thor thor thor thor captain captain captain captain captain';
    }

/* это будет меняться по щелчку, некоторые элементы встают на место предыдущих */
    .ironMan-info {
        grid-area: captain;
    }

    .starLord-info {
        grid-area: captain;
    }

    .romanoff-info {
        grid-area: thor;
    }

    .gamora-info {
        grid-area: thor;
    }

    .hulk-info {
        grid-area: captain;
    }

    .spiderman-info {
        grid-area: thor;
    }
    /* personal page */
    .lowered {
        padding-top: 10px;
    }

    .timer-numbers {
        font-size: 4rem;
    }

    .timer {
        margin-bottom: 3rem;
    }
}

