table {
    border-collapse: collapse;
    border: 1px solid rgb(37, 1, 44);
    margin-top: 15px;
}

th, td {
    border: 1px solid rgb(37, 1, 44);
    padding: 5px 10px;
}

.key-words {
    font-weight: bold;
    color: #818181;
    text-shadow: 3px 2px 1px rgba(62, 12, 102, 0.2) ; 
}

.film-time {
    text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5) ; 
}

.short-plan {
    font-size: 0.8em;
    color:rgb(0, 0, 104);
}

.own-words {
    color:chocolate;
}

.goal {
    color:darkcyan
}

.result {
    color:rgb(188, 80, 218);
}

.think {
    color: orangered;
}

.done {
    color: green;
}

.in-progress {
    color: orange;
}