/* index page styles */
@mixin select-wrapper () {
    position: absolute;
    top: 120px;
    z-index: 2;
    background-color: $card-light-gray-background;
    max-width: 150px;
    padding: $card-padding;
    margin-left: 25px;
    text-align: center;
    border: $card-dark-border;
    border-radius: $card-border-radius;
    box-shadow: $card-inner-shadow;
}

$select-wrapper: '.select-wrapper';

.index-page {
    height: 100vh;
    background-image: url('../images/backgrounds/avengers.jpg'), url('../images/backgrounds/avengers.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center, center 10px;
    padding: 25px;
}

// page main content
#{$select-wrapper} {
    @include select-wrapper;

    &_left {
        @include select-wrapper;
        left: 20px;
    }

    &_right {
        @include select-wrapper;
        left: auto;
        right: 20px;
    }
}

// adaptive
@media (max-width: 770px) {
    .index-page {
        background-image: url('../images/backgrounds/avengers_mobile.jpg');
        padding: 0 10px;
        background-position-y: top;
        padding-top: 15px;
    }
}


@media (max-width: 375px) {
    .index-page {
        padding: 10px;
    }

    #{$select-wrapper} {
        max-width: 130px;
    }
}