/* lesson 1 */
$lesson1: '.lesson1';
#{$lesson1} {
    padding: 10px;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
    height: 100%;

    &__header {
        display: flex;
        justify-content: space-around;

        .main-title {
            margin-right: 0;
            margin-left: auto;
            align-self: flex-start;
            line-height: 55px;
        }

        .lesson-number {
            font-size: 3.3rem;
        }
    }

    &__main-content {
        display: grid;
        grid-template-areas: 
            'speech speech speech'
            'img audio prepProper'
            'img prepCommon prepProper'
            'test1 test1 test2'
            'decision decision decision'
            'video video video';
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        padding: 0 25px;
    }
}

$hero-speech: '.hero-speech';
#{$hero-speech} {
    grid-area: speech;
    position: relative;
    max-width: max-content;
    margin-bottom: 50px;
    margin-top: 25px;
    background-color: $hero-speech-bgcolor;
    padding: 20px;
    padding-left: 50px;
    border-radius: 40px;

    &::before {
        border: 30px solid transparent;
        border-top-color:$hero-speech-bgcolor;
        position:absolute;
        top: 100%;
        left: 40px;
        content:'';
    }

    &::after {
        border:28px solid transparent;
        border-top-color:$hero-speech-bgcolor;
        position:absolute;
        top:100%;
        left: 42px;
        content:'';
    }
}

$hero-img: '.hero-img';
#{$hero-img} {
    &_big {
        grid-area: img;
        max-width: 100%;
        border-radius: 40px;
    }
}

.audio-file {
    grid-area: audio;
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
}

$prep-ex: '.prep-ex';
#{$prep-ex} {
    &_common {
        grid-area: prepCommon;
        color: white;
        display: grid;
        grid-template-areas: 
        'heading heading'
        'en ru';
        justify-content: space-between;
        align-items: center;

        .title-3 {
            grid-area: heading;
        }
    }

    &_proper {
        grid-area: prepProper;
        display: grid;
        align-items: center;

        .infinity-stones {
            border-radius: $card-border-radius;
            width: 100%;
            margin-top: 10px;
        }
    }

    &_proper__list {
        border-radius: $card-border-radius;
        padding: $card-padding;
        box-shadow: 0 0 15px rgb(154, 149, 243 / 60%), 0 0 66px rgb(147, 141, 255 / 75%) inset;
        text-align: center;


    }

    &_common__list_en {
        grid-area: en;
    }

    &_common__list_ru {
        grid-area: ru;
    }
}



@mixin audio-test() {
    color: white;
    display: flex;
    flex-direction: column;
}

$audio-test: '.audio-test';
#{$audio-test} {
    @include audio-test;

    &_first-part {
        @include audio-test;
        grid-area: test1;
        display: block;
        column-count: 2;

        .title-3 {
            column-span: all;
            margin-bottom: 15px;
        }
    }

    &_second-part {
        @include audio-test;
        grid-area: test2;
    }

    &__question {
        margin-top: 10px;
    }
}

$first-decision: '.first-decision';
#{$first-decision} {
    grid-area: decision;
    color: white;

    &__variants-list {
        margin-left: 15px;
        list-style-type: disc;

        li:hover, .variants li:active {
            color: #e8c30d;
        }
    }

    &__sub-variants-list {
        list-style-type: circle;
        margin-left: 20px;

        li:hover,  .sub-variants li:active {
            color: yellow;
        }
    }
}

.video-result {
    grid-area: video;
}

@media (max-width: 1000px) {
    #{$lesson1} {
        &__main-content {
            grid-template-areas: 
                'speech speech'
                'img audio'
                'img prepCommon'
                'prepProper prepProper'
                'test1 test1'
                'test2 test2'
                'decision decision'
                'video video';
            grid-template-columns: repeat(2, 1fr);
        }

    }

    #{$prep-ex} {
        &_proper {
            display: flex;
            justify-content: space-around;

            .infinity-stones {
                width: 48%;
            }
        }

        &_proper__list {
            flex-grow: 1;
            margin-right: 30px;
        }

        &_common {
            justify-content: space-around;
        }
    }
}

@media (max-width: 800px) {
    #{$lesson1} {
        &__main-content {
            grid-template-areas: 
                'img speech'
                'prepProper prepProper'
                'prepCommon prepCommon'
                'audio audio'
                'test1 test1'
                'test2 test2'
                'decision decision'
                'video video';
            padding-top: 25px;
        }
    }

    #{$hero-speech} {
        display: grid;
        align-content: center;
        padding: 30px;
        font-size: 1.2em;

        &::before, &::after  {
            top: 10%;
            left: -54px;
            transform: rotate(90deg);
        }
    }
}

@media (max-width: 600px) {
    #{$hero-speech} {
        font-size: 1.1em;
    }
}

@media (max-width: 500px) {
    #{$lesson1} {
        &__main-content {
            grid-template-areas: 
                'speech'
                'img'
                'prepProper'
                'prepCommon'
                'audio'
                'test1'
                'test2'
                'decision'
                'video';
            grid-template-columns: 1fr;
            font-size: 1.2em;

            div, img {
                max-width: 83vw;
                word-break: break-word;
            }
        }

        &__header {
            .main-title {
                margin: 0 auto;
                max-width: fit-content;
            }

        }
    }

    #{$hero-speech} {
        &::before, &::after  {
            top:100%;
            left: 42px;
            transform: rotate(0);
        }
    }

    #{$prep-ex} {
        &_proper {
            display: grid;

            .infinity-stones {
                width: 100%;
            }
        }

        &_proper__list {
            margin-right: 0;
        }

        &_common {
            position: relative;
        }

        &_common__list_en, &_common__list_ru {
            li {
                padding-bottom: 40px;
            }
        }

        &_common__list_en {
            padding-right: 5px;
        }

        &_common__list_ru {
            position: absolute;
            grid-area: none;
            top: 90px;
            left: 50px;
            color:  $secondary-color;
        }
    }

    #{$audio-test} {
        &_first-part {
            column-count: 1;
        }

        &__question {
            padding: 10px 0;
        }
    }
}
