/* personal page styles */
.personal-page-body {
    background-image: url('../images/space.jpg');
    background-size: cover;
    color: white;
    height: 100vh;
}

.header.personal-page .main-title {
    margin-right: 0;
    justify-content: center;
}

.real-photo {
    background-image: url('../images/ruslan_real.jpg');
}

.timer {
    margin-top:3rem;
    margin-bottom:6rem;
    display: grid;
    grid-template-areas: 
    'title title title title title'
    'hours dot1 minutes dot2 seconds'
    'h_text . m_text . s_text';
    justify-content: center;
}

.timer-action{
    font-weight:300;
    font-size:2.2rem;
    grid-area: title;
    justify-self: center;
    
}

.timer-numbers{
    font-size:5rem;
}

#timer-hours {
    grid-area: hours;
}

#timer-minutes {
    grid-area: minutes;
}

#timer-seconds {
    grid-area: seconds;
}

.dot1 {
    grid-area: dot1;
}

.dot2 {
    grid-area: dot2;
}

.h-text {
    grid-area: h_text;
    justify-self: center;
}

.m-text {
    grid-area: m_text;
    justify-self: center;
}

.s-text {
    grid-area: s_text;
    justify-self: center;
}

.game-info-wrapper {
    display: grid;
    grid-template-areas: 
    'lessons hws tasks'
    'points points points';
    justify-content: center;
}

.game-info-wrapper div {
    padding: 10px;
}

.lessons-wrapper {
    grid-area: lessons;
}

.hws-wrapper {
    grid-area: hws;
}

.additional-tasks-wrapper {
    grid-area: tasks;
}

ol {
    list-style-position: inside;
}

li {
    padding: 5px;
}

ol a {
    color: #b0d0ec;
}
.points-wrapper {
    grid-area: points;
    display: flex;
    flex-direction: column;
}

.title-3.light {
    color: white;
}

table {
    border-collapse: collapse;
}

thead {
    background-color: #ffffff29;
}

th, td {
    border: 1px solid white;
    padding: 5px;
}

.total {
    background-color: #00ffff54;
}

.number {
    background-color: #f5f5dc66;
}

