/* personal page styles */
$personal-page: '.personal-page';

#{$personal-page} {
    background-image: url('../images/backgrounds/space.jpg');
    background-size: cover;
    color: white;
    height: 100vh;

    &__header {
        padding-top: 20px;;
        .main-title {
            margin-right: 0;
            justify-content: center;
        }

        .real-photo {
            background-image: url('../images/ruslan_real.jpg');
        }
    }
}

$timer: '.timer';
$timer-id: '#timer';

#{$timer} {
    margin-top:3rem;
    margin-bottom:6rem;
    display: grid;
    grid-template-areas: 
    'title title title title title'
    'hours dot1 minutes dot2 seconds'
    'h_text . m_text . s_text';
    justify-content: center;

    &__action {
        font-weight:300;
        font-size:2.2rem;
        grid-area: title;
        justify-self: center;
    }

    &__numbers {
        font-size:5rem;
    }

    &__dot1 {
        grid-area: dot1;
    }

    &__dot2 {
        grid-area: dot2;
    }

    &__h-text {
        grid-area: h_text;
        justify-self: center;
    }
    
    &__m-text {
        grid-area: m_text;
        justify-self: center;
    }
    
    &__s-text {
        grid-area: s_text;
        justify-self: center;
    }
}

#{$timer-id} {
    &__hours {
        grid-area: hours;
    }

    &__minutes {
        grid-area: minutes;
    }

    &__seconds {
        grid-area: seconds;
    }
}

@mixin game-info__item() {
    padding: 10px;
}

$game-info: '.game-info';

#{$game-info} {
    display: grid;
    grid-template-areas: 
    'lessons hws tasks'
    'points points points';
    justify-content: center;

    &__lessons {
        @include game-info__item;
        grid-area: lessons;
    }

    &__hws {
        @include game-info__item;
        grid-area: hws;
    }

    &__additional-tasks {
        @include game-info__item;
        grid-area: tasks;
    }
}

$points: '.points';

#{$points} {
    grid-area: points;
    display: flex;
    flex-direction: column;
    padding-top: 25px;

}