// buttons
button {
    width: $button-width;
    height: $button-height;
    border: $card-dark-border;
    border-radius: $button-height;
    background: $button-background;
    box-shadow: $card-inner-shadow;
}

button:hover {
    background: $button-hover-background;
}

button:active {
    background: $button-active-background;
}

button:focus {
    outline: none;
}

@media (max-width: 375px) {
    button {
        width: $mobile-button-width;
        height: $mobile-button-height;
    }

    button:hover, button:active {
        background: $button-active-background;
    }
}