// headings
/* h1 */
.main-title {
    font-family: $headings-font;
    display: flex;
    justify-content: space-between;
    flex-basis: 600px;
    margin-right: 4em;
    color: white;
}

.secondary-title {
    font-family: $headings-font;
}

.title-3 {
    margin: 5px 0;
    font-family: $headings-font;
    color: $title-3-color;
}

@media (max-width: 1110px) {
    .main-title {
        flex-basis: 500px;
    }
}

@media (max-width: 960px) {
    .main-title {
        flex-basis: 450px;
        margin-right: 3em;
    }
}

@media (max-width: 770px) {
    .main-title {
        flex-basis: 260px;
        margin-right: 0em;
    }
}

@media (max-width: 460px) { 
    .main-title {
        max-width: fit-content;
    }
}

@media (max-width: 375px) {
    .main-title {
        font-size: $mobile-primary-title-size;
    }

    .secondary-title {
        font-size: $mobile-secondary-title-size;
    }
}