// headings
/* h1 */
.main-title {
    font-family: $headings-font;
    display: flex;
    justify-content: space-between;
    flex-basis: 600px;
    margin-right: 4em;
    color: white;
}

.secondary-title {
    font-family: $headings-font;
}

.title-3 {
    margin: 5px 0;
    font-family: $headings-font;
    color: $title-3-color;
}