@import './variables.scss';
@import './selectric.scss';
@import './headings.scss';
@import './buttons.scss';

@import 'components/index-page.scss';
@import 'components/characters-info-item.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $main-font;
}

// popup
.popup-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: $light-black-background;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 3;
}

.label {
    font-size: 12px;
    padding: 0 20px;
}


@import './form-elems.scss';
@import './states.scss';


@media (max-width: 375px) {
    .main-title {
        font-size: $mobile-primary-title-size;
    }

    .secondary-title {
        font-size: $mobile-secondary-title-size;
    }

    button {
        width: $mobile-button-width;
        height: $mobile-button-height;
    }

    button:hover, button:active {
        background: $button-active-background;
    }

    .popup-wrapper {
        padding: $mobile-popup-padding;
    }
}

