@import './variables.scss';
@import './selectric.scss';


// partials
@import 'components/partials/headings.scss';
@import 'components/partials/buttons.scss';
@import 'components/partials/form-elems.scss';
@import 'components/partials/lists.scss';
@import 'components/partials/tables.scss';
@import 'components/partials/media.scss';

@import 'components/partials/header.scss';
@import 'components/partials/popup.scss';

// components
@import 'components/index-page.scss';
@import 'components/personal-page.scss';
@import 'components/characters-info-item.scss';
@import 'components/lesson1.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $main-font;
    line-height: 30px;
}

@import './states.scss';