// states

// position
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

// appearance
.has-descr {
    color:  $secondary-color;
}

.shadowed-pic {
    box-shadow: $shadowed-pic-shadow;
}

.bold {
    font-weight: bold;
}

.error-message {
    color: $error-msg-color;
    margin: 10px auto;
}

.active {
    display: block; 
}

.valid {
    border: $valid-border;
}

.invalid {
    border: $valid-border;
}

.d-none {
    display: none;
}

.o-none {
    opacity: 0;
}

// drag and drop
.is-dragged-over {
    background-color: $is-dragged-over-background;
}

.is-dropped {
    opacity: $is-dropped-opacity;
}

.right {
    background: rgb(0,0,1);
    background: $right-answer-background;
}

.wrong {
    background: rgb(0,0,1);
    background: $wrong-answer-background;
}
