//fonts
$main-font: 'Montserrat', sans-serif;
$headings-font: 'Playfair Display', serif;

//headings
$title-3-color: #141d1c;
$title-3-light-color: white;

$secondary-color: #e8c30d;

//mobile headings
$mobile-primary-title-size: 1.3em;
$mobile-secondary-title-size: 1em;
$mobile-card-text-size: 0.8em;

//buttons
$button-width: 140px;
$button-height: 48px;
$button-background: repeating-linear-gradient(
    45deg,
    rgba(145, 153, 153, 0.2),
    rgba(145, 153, 153, 0.4) 10px,
    transparent 10px,
    transparent 20px
    ),
    linear-gradient(to top, #020014, #5ea0d6 50%);
$button-hover-background: repeating-linear-gradient(
    45deg,
    rgba(145, 153, 153, 0.2),
    rgba(145, 153, 153, 0.4) 10px,
    transparent 10px,
    transparent 20px
    ),
    linear-gradient(to top, #2e2d41, #b8e1ee);
$button-active-background: repeating-linear-gradient(
    45deg,
    rgba(145, 153, 153, 0.2),
    rgba(145, 153, 153, 0.4) 10px,
    transparent 10px,
    transparent 20px
    ),
    linear-gradient(to top, #e46609, #d6d100);

//mobile buttons
$mobile-button-width: 120px;
$mobile-button-height: 40px;

// popup
$light-black-background: rgba(3, 3, 3, 0.8);

//mobile popup
$mobile-popup-padding: 0 50px;

// card
$card-light-gray-background: rgba(255, 255, 255, 0.8);
$card-dark-border: 3px solid #292c30;
$card-border-radius: 40px;
$card-inner-shadow: 0 0 5px rgba(0,0,0,0.6), 0 0 16px rgba(0,0,0,0.75) inset;
$card-padding: 15px;


// table
$thead-bgcolor: #ffffff29;
$td-border: 1px solid white;
$td-padding: 5px;

// hero-speech
$hero-speech-bgcolor: #e0ae7d;

//white img blur
$shadowed-pic: 0px 0px 30px 22px rgba(255, 255, 255, 0.2);

//states
$error-msg-color: red;
$valid-border: 1px solid green;
$invalid-border: 1px solid red;