// form elems
.input {
    border-radius: $card-border-radius;
    height: 30px;
    padding: $card-padding;
    margin: $card-padding / 2;
}

.input:focus {
    outline: none;
    border-width: 3px;
}

input[type="radio"] {
    margin-right: 5px;
}