ol {
    list-style-position: inside;

    li {
        padding: 5px;
    }

    a {
        color: #b0d0ec;
    }
}

ul {
    color: white;
    list-style-type: none;

    li {
        padding: 0;
        padding-right: 5px;
    }
}