// popup
.popup {
    width: 100vw;
    height: 100vh;
    background-color: $light-black-background;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 3;
}

.label {
    font-size: 12px;
    padding: 8px 20px;
}

.auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $card-padding 15px;
    background-color: $card-light-gray-background;
    border: $card-dark-border;
    border-radius: $card-border-radius;
    box-shadow: $card-inner-shadow;
}

@media (max-width: 375px) {
    .popup {
        padding: $mobile-popup-padding;
    }
}