$table: '.table';

#{$table} {
    border-collapse: collapse;

    thead {
        background-color: $thead-bgcolor;
    }
    
    th, td {
        border: $td-border;
        padding: $td-padding;
    }

    &__total {
        background-color: #00ffff54;
    }
    
    &__number {
        background-color: #f5f5dc66;
    }
}

@media (max-width: 400px) {
    #{$table} {
        th, td {
            max-width: 50px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}